<!DOCTYPE HTML>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Course</title>
    <meta name="twitter:card" content="summary">
    <meta property="og:title" content="Course">
    <meta property="og:type" content="website">
    <meta name="application-name" content="Course">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css"
          integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <style>
        th, td {
            text-align: center;
            white-space: nowrap;
        }

        td.breakTime {
            background: #f0f0f0;
        }
    </style>
</head>
<body>
<div class="container-fluid text-md-center">
    <h1>Course</h1>
    <div class="table-responsive">
        <div id="courseDiv">
            <table class="table table-bordered table-hover" id="courseTable">
                <thead class="thead-inverse">
                <tr>
                    <th></th>
                    <th scope="col" v-for="(index,weekday) in weekdays">
                        {{ weekday }}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="period in 14">
                    <td scope="row">
                        {{ period+1 }}<br/>
                        {{ periodTime(period+1)}}
                    </td>
                    <template v-for="(index,weekday) in weekdays">
                        <td class="table-{{ course[index][period+1].type }}" v-if="course[index][period+1]">
                            <template v-if="course[index][period+1].code">({{ course[index][period+1].code }})
                            </template>
                            {{ course[index][period+1].course }}<br/>
                            {{ course[index][period+1].classroom }}<br/>
                            {{ course[index][period+1].teacher }}
                        </td>
                        <td v-else="course[index][period+1]"
                            v-bind:class="{'breakTime':isBreakTime(period+1)}"></td>
                    </template>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"
        integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"
        integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"
        integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/vue/1.0.26/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.0.1/vue-resource.min.js"></script>
<script>
    var type = {
        "course": "info",
        "meeting": "warning",
        "club": "success"
    };
    var pad = function (str, size) {
        var s = String(str);
        while (s.length < (size || 2)) {
            s = "0" + s;
        }
        return s;
    };

    var vue = new Vue({
        el: '#courseDiv',
        data: {
            weekdays: {
                0: '星期日',
                1: '星期一',
                2: '星期二',
                3: '星期三',
                4: '星期四',
                5: '星期五',
                6: '星期六'
            }
        },
        ready: function () {
            this.fetchCourse();
        },
        methods: {
            fetchCourse: function () {
                this.$http.get('./data.json').then(function (response) {
                    var json = response.data;
                    var course = {};
                    //課程類型
                    $.each(json, function (courseType, courseList) {
                        //單一類型課程清單
                        $.each(courseList, function (key, value) {
                            //單一課程
                            $.each(value["time"], function (timeKey, timeValue) {
                                //上課時間
                                course[timeValue.weekday] = course[timeValue.weekday] !== undefined ? course[timeValue.weekday] : {};
                                //課程資料
                                var courseData = {
                                    code: value.code,
                                    course: value.course,
                                    teacher: value.teacher,
                                    classroom: timeValue.classroom,
                                    type: type[courseType]
                                };
                                //持續節數
                                var length = timeValue.length || 1;
                                for (var i = 0; i < length; i++) {
                                    course[timeValue.weekday][timeValue.period + i] = courseData;
                                }
                            });
                        });
                    });
                    this.$set('course', course);
                });
            },
            periodTime: function (period) {
                var hour = period - 1 + 8;
                return pad(hour, 2) + ':10~' + pad(hour + 1, 2) + ':00';
            },
            isBreakTime: function (period) {
                return period + 1 == 5 || period + 1 == 10
            }
        }
    });
</script>
</body>
</html>
